.scroll_intersection {
  position: absolute;
  top: 80vh;
}

.scroll_button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  animation: show 0.5s ease-in-out 0s 1;
  padding: 5px 10px;
  background-color: #f1434e;
  border-radius: 50%;
  z-index: 99;
}

@keyframes show {
  from {
    opacity: 0;
    bottom: 10px;
  }
  to {
    opacity: 1;
    bottom: 20px;
  }
}
